:host ::ng-deep button::before{
  font-size: 35px;
}

.grid{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 10px 20px 10px;
}
.container-links{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 0px 120px;
}
.container-links ul{
  list-style: none;
}

.last{
  padding: 0px 120px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 60% 40%;
}

.last1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
