.grid{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 30px 10px 20px 10px;
}
:host ::ng-deep .p-button-icon {
  font-size: 25px;
}
h2{
  font-weight: 900;
  font-size: 2rem;
  padding: 2rem;
}
button{
margin: 0px 5px;
}
.container-links{
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding: 0px 120px;
  padding-bottom: 3rem;
}
.container-links ul li{
  list-style: none;
  padding: 10px;
}
h4{
  padding-bottom: 5px;
}
.last{
  height: 100px;
  padding: 0px 120px;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 60% 40%;
  border-top: 1px solid rgb(197, 197, 197);
    margin: 0px 15px;
}

.last1{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.footer-links{
  padding: 20px;
  color: black;
  text-decoration: none;
}
.icon-footer{
  height: 1.75rem;
  width: 1.75rem;
  margin-right: 1rem;
}
.last2{
  display: flex;
  flex-direction: column;
  align-items: end;
}
