<div class="grid">
  <div class="col title">
    <h2>Síguenos</h2>
    <button pButton pRipple type="button" icon="pi pi-facebook" class="p-button-rounded p-button-outlined"></button>
    <button pButton pRipple type="button" icon="pi pi-instagram
    " class="p-button-rounded p-button-outlined"></button>
  </div>
  <div class="container-links">
    <div class="1">
      <h4>McDonal's</h4>
      <ul *ngFor="let item of info">
        <li>{{item}}</li>
      </ul>
    </div>
    <div class="2">
      <h4>Nuestros productos<br> y servicios</h4>
      <ul *ngFor="let item of info">
        <li>{{item}}</li>
      </ul>
    </div>
    <div class="3">
      <h4>Alergias</h4>
      <ul *ngFor="let item of info">
        <li>{{item}}</li>
      </ul>
    </div>
    <div class="4">
      <h4>Equipo McDonal's</h4>
      <ul *ngFor="let item of info">
        <li>{{item}}</li>
      </ul>
    </div>
    <div class="5">
      <h4>McDonals en familia</h4>
      <ul *ngFor="let item of info">
        <li>{{item}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="last">
  <div class="last1">
    <a href="" class="footer-links">item 1</a>
    <a href="" class="footer-links">item 1</a>
    <a href="" class="footer-links">item 1</a>
    <a href="" class="footer-links">item 1</a>
    <a href="" class="footer-links">item 1</a>
    <a href="" class="footer-links">item 1</a>
  </div>
  <div class="last2">
    <img class="icon-footer" src="/src/assets/icon-footer.png" alt="">
    <p>Copyright © 2022 McDonald's España</p>
  </div>
</div>
