<div class="container">
  <div class="principal">
    <p-card header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!" subheader="" [style]="{width: '100%'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <img class="card-img" alt="Card" src="../../../assets/image-test.jpg">
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button pButton type="button" label="Haz click" class="button"></button>
      </ng-template>
    </p-card>
    <p-card header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!" subheader="" [style]="{width: '100%'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <img class="card-img" alt="Card" src="../../../assets/image-test.jpg">
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button pButton type="button" label="Haz click" class="button"></button>
      </ng-template>
    </p-card>
  </div>
  <div class="secundario">
    <p-card header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!" subheader="" [style]="{width: '100%'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <img class="card-img" alt="Card" src="../../../assets/test.jpeg">
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button pButton type="button" label="Haz click" class="button"></button>
      </ng-template>
    </p-card>
    <p-card header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!" subheader="" [style]="{width: '100%'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <img class="card-img" alt="Card" src="../../../assets/test.jpeg">
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button pButton type="button" label="Haz click" class="button"></button>
      </ng-template>
    </p-card>
    <p-card header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!" subheader="" [style]="{width: '100%'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <img class="card-img" alt="Card" src="../../../assets/test.jpeg">
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button pButton type="button" label="Haz click" class="button"></button>
      </ng-template>
    </p-card>
    <p-card header="¡Sebastián Yatra llegó para compartir su Menú McDonalds!" subheader="" [style]="{width: '100%'}" styleClass="p-card-shadow">
      <ng-template pTemplate="header">
          <img class="card-img" alt="Card" src="../../../assets/test.jpeg">
      </ng-template>
      <p class="content">¿Qué esperas para probarlo?</p>
      <ng-template pTemplate="footer">
        <button pButton type="button" label="Haz click" class="button"></button>
      </ng-template>
    </p-card>
  </div>
</div>
